body
{
	background-image:url('img/black-hair-wide.jpg');
	background-size:100%;
	opacity:0.95;
	background-repeat:no-repeat;
}

header
{
	margin: auto;
	width: 900px;
	height: 320px;
	background-image: url("./img/redHairSide.jpg");
	opacity: .25;
}
#loggedin {
	margin: auto;
	width: 900px;
	color: green;
	text-decoration: italic;
	padding:10px;
}
#container {
	width: 900px;
	height:100%;
	margin: 0px auto;
	padding: 0px;
	background-color: black;
	color:white;
	border-radius: 10px;
}
.shbr {
	width: 900px;
	height:1px;
	opacity: 1;
	color: green;
	margin:0px auto;
}

.error {
	color: red;
	margin: 0px auto;
	text-align: center;
}

.success {
	color: green;
	margin: 0px auto;
	text-align: center;
}

#form {
	opacity: 2;
	margin: 0px auto;
	text-align:center;
	position:relative 50%;
	color: green;
	font-size: 8pt;
	text-decoration: italic;
}

#search {
	opacity: 2;
	margin: 0px auto;
	text-align: center;
	position: relative 50%;
}

/* Link colors */
	a:link {
		color: green;
		text-decoration: none;
	}
	a:visited {
		color: green;
		text-decoration: none;
	}
	a:hover {
		color: green;
		text-decoration:none;
	}

#Llinks {
		color: green;
		width: 900px;
		margin: 0px auto;
	}
	
#logo {
	/*...*/
}

.userinfo {
	width: 500px;
	margin: 0px auto;
}

#footer {
	margin: 0px auto;
	color: white;
	height: 150px;
	text-align: center;
	position: relative 50%;
}

#resultBox {
	height: 480px; 
	width: 900px; 
	display: block; 
	background-color: white; 
	border: solid 5px black; 
	margin: 50px;
	position: absolute; 
	left: 265px; 
	top: 0px; 
	opacity: .99;
}
#bar {
	width:870px;
	margin:0px auto;
	padding:10px;
}

.searchbar {
	border-radius:4px;
	padding:5px;
	background-color: black;
	border: 1px dotted RGB(135,242,104);
	color:white;
}

.button {
	border-radius: 4px;
	padding:5px;
	background-color:#212121;
	border:1px solid green;
	color:white;
}

.ntext {
	width:870px;
	background-color: RGB(135,242,104);
	color: black;
	margin:0px auto;
	border-radius:5px;
	padding:5px;
}
.searchresult {
	width: 870px;
	border: 1px dotted green;
	border-radius: 5px;
	margin: 0px auto;
	padding: 5px;
}

#forum {
	height: 480px; 
	width: 650px; 
	display: block;  
	background-color: white; 
	border: solid 5px black; 
	margin: 0px;
	position: absolute; 
	left: 100px; 
	top: 30px; 
	opacity: .99;
}

#newProducts {
	height: 480px; 
	width: 650px; 
	display: block;  
	background-color: white; 
	border: solid 5px black; 
	margin: 0px;
	position: absolute; 
	left: 680px; 
	top: 0px; 
	opacity:.99;
}
